

{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/adicionar_atividade.css' %}">
<link rel="stylesheet" href="{% static 'base/table.css' %}">
<link rel="stylesheet" href="{% static 'base/minhas_atividades.css' %}">
<link rel="stylesheet" href="{% static 'base/modal.css' %}">
{% endblock %}

<table>
    <thead>
        <tr class="atividade-topo">
            <!-- Linha de botão Adicionar Atividade -->
            <th colspan="6" class="top_buttons">
        
                <!--BOTÃO MODAL E FINALIZAR ATIVIDADE-->

                <div class="atividade-right">
                    <div class="atividade-left">

                        <form method="POST" class="form-add">
                            {% csrf_token %}
                        
                            <!-- Campo Cliente -->
                            <select name="cliente" id="id_cliente">
                                <option value="" disabled selected>Selecione o Cliente</option>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                                {% endfor %}
                            </select>
                        
                            <!-- Campo Serviço -->
                            <select name="servico" id="id_servico">
                                <option value="" disabled selected>Selecione o Serviço</option>
                                {% for servico in servicos %}
                                    <option value="{{ servico.id }}">{{ servico.nome }}</option>
                                {% endfor %}
                            </select>
                        
                            <!-- Campo Atividade -->
                            <select name="atividade" id="id_atividade">
                                <option value="" disabled selected>Selecione a Atividade</option>
                                {% for atividade in atividades %}
                                    <option value="{{ atividade.id }}">{{ atividade.nome }}</option>
                                {% endfor %}
                            </select>
                        
                            <button class="botao-add-form" type="submit">Registrar Atividade</button>
                        </form>

                        {% for atividade in page_obj %}
                            {% if atividade.ativo %}
                                <button 
                                    class="btn-finalizar-atividade" 
                                    data-id="{{ atividade.id }}" 
                                    onclick="finalizarAtividadePorElemento(this)">
                                    Finalizar Atividade
                                </button>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </th>
        </tr>
        
        
        <tr>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Atividade</th>
            <th>Data Inicial</th>
            <th>Data Final</th>
            <th>Duração</th>
        </tr>
    </thead>

    <tbody>
        {% for atividade in page_obj %}
        <tr>
            <td>{{ atividade.cliente }}</td>
            <td>{{ atividade.servico }}</td>
            <td>{{ atividade.atividade }}</td>  
            <td>{{ atividade.data_inicial|date:"d/m/Y H:i"|default:"-" }}</td>

            <!--RELAÇÃO ATIVIDADE ABERTA/DURAÇÃO -->
            <td id="atividade_ativo_{{ atividade.id }}" style="display: none;">{{ atividade.ativo }}</td>
            <td id="data_final_{{ atividade.id }}">
                {{ atividade.data_final|date:"d/m/Y H:i"|default:"Atividade Ativa" }}
            </td>
            <td id="duracao_{{ atividade.id }}">
                {{ atividade.duracao }}
            </td>
            <td id="hora_inicio_{{ atividade.id }}" style="display: none;">
                {{ atividade.data_inicial|date:"Y-m-d H:i:s" }}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr style="background-color: transparent;">
            <td colspan="5" style="text-align: right; font-weight: bold;">Total de Horas:</td>
            <td>
                {{ total_duracao }}
            </td>
        </tr>
    </tfoot>
</table>




<!--Paginador-->
<div class="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; Primeira</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% else %}
            <li class="disabled">&laquo; Primeira</li>
            <li class="disabled">Anterior</li>
        {% endif %}

        <li class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
        {% else %}
            <li class="disabled">Próxima</li>
            <li class="disabled">Última &raquo;</li>
        {% endif %}
    </ul>
</div>




<!-- JAVA SCRIPT -->

<script>

    // SCRF TOKEN

    function getCSRFToken() {
    const name = 'csrftoken';
    const cookies = document.cookie.split(';');
    for (let cookie of cookies) {
        cookie = cookie.trim();
        if (cookie.startsWith(name + '=')) {
            return cookie.slice(name.length + 1);
        }
    }
    return null; // Se o token não for encontrado
}


    // Referências para os selects
    const clienteSelect = document.getElementById('id_cliente');
    const servicoSelect = document.getElementById('id_servico');
    const atividadeSelect = document.getElementById('id_atividade');

    // Função para preencher um select com opções
    function preencherSelect(selectElement, data, placeholder) {
        // Limpa o select e adiciona um placeholder
        selectElement.innerHTML = `<option value="" disabled selected>${placeholder}</option>`;
        data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.id; // ID do item
            option.textContent = item.nome; // Nome do item
            selectElement.appendChild(option);
        });
        selectElement.disabled = false; // Desbloqueia o select
    }

        // Evento para carregar serviços ao selecionar um cliente
    clienteSelect.addEventListener('change', function () {
        const clienteId = this.value; // Obtém o ID do cliente selecionado

        // Reseta os selects de serviços e atividades
        preencherSelect(servicoSelect, [], 'Selecione o Serviço');
        preencherSelect(atividadeSelect, [], 'Selecione a Atividade');
        servicoSelect.disabled = true;
        atividadeSelect.disabled = true;

        // Requisição para buscar os serviços do cliente
        fetch(`/api/get-api/servico/?clientes=${clienteId}`)
            .then(response => {
                if (!response.ok) throw new Error('Erro ao carregar os serviços.');
                return response.json();
            })
            .then(data => {
                if (data && Array.isArray(data)) {
                    preencherSelect(servicoSelect, data, 'Selecione o Serviço');
                }
            })
            .catch(error => {
                console.error('Erro ao carregar serviços:', error);
            });
    });

    // Evento para carregar atividades ao selecionar um serviço
    servicoSelect.addEventListener('change', function () {
        const servicoId = this.value; // Obtém o ID do serviço selecionado

        // Reseta o select de atividades
        preencherSelect(atividadeSelect, [], 'Selecione a Atividade');
        atividadeSelect.disabled = true;

        // Requisição para buscar as atividades do serviço
        fetch(`/api/get-api/atividade/?servicos=${servicoId}`)
            .then(response => {
                if (!response.ok) throw new Error('Erro ao carregar as atividades.');
                return response.json();
            })
            .then(data => {
                if (data && Array.isArray(data)) {
                    preencherSelect(atividadeSelect, data, 'Selecione a Atividade');
                }
            })
            .catch(error => {
                console.error('Erro ao carregar atividades:', error);
            });
    });


</script>


<script>
function iniciarContagem() {
    // Pega todos os elementos de hora de início
    const atividades = document.querySelectorAll('[id^="hora_inicio_"]');
    
    atividades.forEach(function(element) {
        const atividadeId = element.id.split('_')[2]; // Ex: hora_inicio_1 => id = 1
        const horaInicio = element.innerText; // Hora de início da atividade
        const horaInicioDate = new Date(horaInicio); // Converte para objeto Date
        
        // Verifica se a atividade está ativa (usando a variável ativo)
        const ativo = document.getElementById(`atividade_ativo_${atividadeId}`)?.innerText === 'True'; 
        if (!ativo) {
            // Se a atividade não está ativa, não inicia o temporizador
            return;
        }

        // Função que será chamada a cada segundo
        const intervalId = setInterval(function() {
            // Verifica se a atividade está ativa
            const ativo = document.getElementById(`atividade_ativo_${atividadeId}`)?.innerText === 'True'; 
            if (!ativo) {
                clearInterval(intervalId); // Se a atividade não está ativa, para o contador
                return;
            }

            // Pega a hora atual
            const tempoAtual = new Date();
            
            // Calcula a diferença entre o tempo atual e a hora de início
            const diffMilliseconds = tempoAtual - horaInicioDate;
            
            // Converte a diferença em segundos, minutos e horas
            const diffSeconds = Math.floor(diffMilliseconds / 1000); // Milissegundos para segundos
            const diffMinutes = Math.floor(diffSeconds / 60); // Segundos para minutos
            const diffHours = Math.floor(diffMinutes / 60); // Minutos para horas
            const remainingMinutes = diffMinutes % 60; // Minutos restantes
            const remainingSeconds = diffSeconds % 60; // Segundos restantes

            // Atualiza a duração na interface
            const duracaoElement = document.getElementById(`duracao_${atividadeId}`);
            duracaoElement.innerText = `${diffHours}h ${remainingMinutes}m ${remainingSeconds}s`;
        }, 1000);  // Atualiza a cada 1 segundo
    });
}

// Inicia a contagem assim que a página for carregada
window.onload = iniciarContagem;
</script>


<script>

function finalizarAtividadePorElemento(buttonElement) {
    // Desabilita o botão para impedir múltiplos cliques
    buttonElement.disabled = true;

    const atividadeId = buttonElement.getAttribute("data-id");

    fetch(`/atividades/finalizar_atividade/${atividadeId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({id: atividadeId})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Erro na requisição: ' + response.status);
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            const dataFimElement = document.getElementById(`data_fim_${atividadeId}`);
            dataFimElement.innerText = data.data_fim || 'Finalizado';  // Atualiza a data de fim

            // Remover o botão e colocar um status "Finalizado"
            buttonElement.remove();
            const statusElement = buttonElement.parentElement;
            statusElement.innerHTML = '<span>Atividade Finalizada</span>';

            // Atualiza a página (recarrega)
            location.reload();  // Recarrega a página para garantir que o tempo pare
        } else {
            const statusElement = buttonElement.parentElement;
            statusElement.innerHTML = '<span>Falha ao finalizar a atividade. Tente novamente.</span>';
        }
    })
    .catch(error => {
        console.error('Erro:', error);
        const statusElement = buttonElement.parentElement;
        statusElement.innerHTML = '<span>Ocorreu um erro inesperado. Tente novamente.</span>';
        location.reload();
    })
    .finally(() => {
        buttonElement.disabled = false;
        location.reload();
    });
}
</script>

{% endblock %}


